$color-primary: #4bc4a4;
$color-dark-text: #222222;
$color-light-text: #777777;
$color-separator: #cccccc;
$color-white-bg: #ffffff;
$color-darker-bg: #dddddd;
$border-radius: 3px;
$color-error: #c44b6b;
