{
    "tabWidth": 4,
    "trailingComma": "all",
    "htmlWhitespaceSensitivity": "css",
    "overrides": [
        {
            "files": "*.vue",
            "options": { "parser": "vue" }
        }
    ]
}
